@import url('http://fonts.googleapis.com/css?family=Raleway:300'); /*jessi*/
@import url('http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400,600');/*jessi*/

body {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 300;
	/*background-color: #e6d8cb;*/
	margin-bottom: 40px;
	color: #343434;
	/* background: #f0f0f0 url(../img/cream_dust.jpg);*/
}
/*.container {
	background-color: #fff;
}*/
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 600;
}
.navbar-default {
	/*background-color: rgba(44,164,209,0.8);
	border-color: rgb(129,208,234);*/
	background-color: rgba(255,255,255,0.8);
	border-color: #dfdfdf;
	height:60px;
	-webkit-transition: background-color 0.8s;
}

.navbar-default:hover {
	/*background-color: rgba(44,164,209,0.8);
	border-color: rgb(129,208,234);*/
	background-color: rgba(255,255,255,1);
	border-color: #eee;
}

.navbar-brand {
	font-weight: 500;
}
.navbar-default .navbar-brand {
	color: #2CA4D1;
	font-size: 22px;
}
.navbar-default .navbar-brand:hover {
	color:  #2CA4D1;
}
.sub-header {
	padding-top: 16px;
	padding-bottom: 14px;
	line-height: 20px;
	position: relative;
	display: block;
	color: rgb(245,245,245);
}
.navbar-default .navbar-nav>li>a {
	/*color: rgb(245,245,245);*/
	color: #4a4a4a;
}
.navbar-default .navbar-nav>li>a:hover {
	color: #2CA4D1;
}

#about {
	background-color: #fff;
}

.featurette {
	padding-top: 40px;
}
.first-featurette {
	padding-top: 90px;
}

.portfolio-thumb {
	margin-bottom: 51px;

}
.img-responsive-project {
	width: 303px;
	height: auto;
}

.img-responsive-project-2015 {
	width: 100%;
	height: auto;
}

.nopadding-2015 {
	padding: 0px;
}

.img-responsive {
	width: 100%;
	height: auto;
}
.featurette-divider {
	margin-top: 50px;
	margin-bottom: 50px;
}
hr {
	margin-bottom: 0px; 
}
.project-hover {
	background-color: rgba(44,164,209,0.8);
	float: left;
	width: 100%;
	height: 100%;
	max-height: 303px;
	max-width: 303px;
	opacity: 0;
  	position: absolute;
  	-webkit-transition: opacity 0.5s ease 0s;
  	-moz-transition: opacity 0.5s ease 0s;
  	transition: opacity 0.5s ease 0s;
  	padding-left: 10px;
  	padding-right: 10px;
 }
.project-hover:hover {
	float: left;
	position: absolute;
	opacity: 1;
	background-color: rgb(44,164,209);
}


.project-hover-2015 {
	float: left;
	width: 100%;
	height: 100%;
	opacity: 0;
  	position: absolute;
  	-webkit-transition: opacity 0.5s ease 0s;
  	-moz-transition: opacity 0.5s ease 0s;
  	transition: opacity 0.5s ease 0s;
  	padding-left: 10px;
  	padding-right: 10px;
 }

.project-hover-2015:hover {
	position: absolute;
	opacity: 1;
	background-color: rgba(255,255,255,.86);
}



.project-name h3 {
	text-align: left;
	padding-left: 8%;
	padding-right: 8%;
	margin-top: 15%;
	color: #4A4A4A;
	font-size:150%;
	font-weight: 400;
}

.project-name p {
	margin-top: 10px;
	text-align: left;
	padding-left: 8%;
	color: rgba(44,164,209,1);
	font-weight: 400;
}

.project-name h5 {
	
	margin-top: 50%;
	text-align: left;
	padding-left: 8%;
	color: #4A4A4A;
	font-weight: 400;
}




.go-back {
	margin-bottom: 20px;
}
a, a:hover {
	color: rgba(44,164,209,0.8);
	/*font-weight: 600;*/ /*jessi*/
}
.social-network {
	width: 45px;
	margin-right: 10px;
}
#contact a {
	font-size: 18px;
	font-weight: normal;
}
.nav-right {
	text-align: right;
}

h3 {
	margin-top: 40px;
}
h4 {
	margin-top: 17px;
}
.project-sidebar {
	margin-top: 70px;
}
.project-info {
	background-color: rgba(86,182,218,0.15);
	background: #f0f0f0 url(../img/cream_dust.jpg);
	margin: 20px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 1px;
	padding-bottom: 20px;
	font-size: 95%;
}
.img-border {
	
	-moz-box-shadow: -1px 0px 5px #999;
	-webkit-box-shadow: -1px 0px 5px #999;
	box-shadow: -1px 0px 5px #999;
}
.work-img {
	margin-top: 10px;
	max-width: 100%;
}



 ul {         
          padding:0 0 0 0;
          margin:0 0 0 0;
      }
      ul li {     
          list-style:none;

          /*margin-bottom:25px;  Jessi */        
      }
      ul li img {
          cursor: pointer;
      }

.croakul:before {
		 content: "\00BB  \00a0 \00a0 ";
		 color: #20B798;
	     }

.pagetop{
width: 100%;
/*background-color: #56b162;*/
margin:0px;
} 


.section-title{       /*Jessi add CSS*/
	font-size: 30px;
	padding-bottom: 3%;
}


footer{

	margin: auto;
	background: rgba(44,164,209,1);
	padding: 20px 0px 5px 0px;
	font-size: 12px;
	color: #ffffff;
	text-align: center;
	height: 100%;
	box-shadow: 0px 500px 0px 500px rgba(44,164,209,1);
	}


@media (max-width: 768px) {
	#nav {
		background: rgba(44,164,209,0.8);
	}
}

/*slider test*/



/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 1;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 400px;
  background-color:#555;
}
.carousel img {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 400px;
}




/* Featurettes
------------------------- */

.featurette-divider-bootply {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}
.featurette-bootply {
  padding-top: 120px; /* Vertically center images part 1: add padding above and below text. */
  overflow: hidden; /* Vertically center images part 2: clear their floats. */
}
.featurette-image-bootply {
  /*margin-top: -120px;*/ /* Vertically center images part 3: negative margin up the image the same amount of the padding to center it. */
}

/* Give some space on the sides of the floated elements so text doesn't run right into it. */
.featurette-image-bootply.pull-left {
  margin-right: 40px;
}
.featurette-image-bootply.pull-right {
  margin-left: 40px;
}

/* Thin out the marketing headings */
.featurette-heading-bootply {
  font-size: 45px;
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}

section.projinfo {
	background:#f7f7f7;
	margin:auto;
	padding: 20px 90px 190px 90px;
	font-size: 14px;
	line-height:170%;
	color: #000;
	/*text-align: center;*/
	height: 100%;
}

section.process {
	background:rgb(105,106,109);
	margin:auto;
	padding: 20px 90px 20px 90px;
	box-shadow: 0px 500px 0px 500px rgb(105,106,109);
}

.problem-left {
	/*color: #20B798;*/
	padding: 65px 80px 180px 0px;
	margin-left: -15px;
	margin-right: -15px;
	background: url(../img/croak/bg.png);
	max-height: 370px;
 
}

.problem-right {
	color: #fff;
	padding: 65px 80px 80px 80px;
	margin-left: -15px;
	margin-right: -15px;
	background: url(../img/croak/friction.png);
	background-size: 100%;
	max-height: 370px;

}	

.row-2015 {
	max-width: 1080px;
	margin-left: auto;
	margin-right: auto;
}

.header-image {
	display: block;
	height: 29px; 
	width: 24%;
	min-width: 200px;
	height: auto;
	margin-top: 80px;
	margin-left: auto;
	margin-right: auto;

}
