@import url('http://fonts.googleapis.com/css?family=Raleway:300'); /*jessi*/
@import url('http://fonts.googleapis.com/css?family=Source+Sans+Pro:600');/*jessi*/

body {
	font-family: 'Source Sans Pro', sans-serif;
	/*background-color: #e6d8cb;*/
	margin-bottom: 40px;
	color: #636363;
	

}
/*.container {
	background-color: #fff;
}*/
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 600;
	/*color: #395d5a;*/
}
.navbar-default {
	background-color: rgba(44,164,209,0.8);
	border-color: rgb(129,208,234);
}
.navbar-brand {
	font-weight: 600;
	color: #fff;
}
.navbar-default .navbar-brand {
	color: #fff;
}
.navbar-default .navbar-brand:hover {
	color: #fff;
}
.sub-header {
	padding-top: 16px;
	padding-bottom: 14px;
	line-height: 20px;
	position: relative;
	display: block;
	color: rgb(245,245,245);
}
.navbar-default .navbar-nav>li>a {
	color: rgb(245,245,245);
}
.navbar-default .navbar-nav>li>a:hover {
	color: #FFD927;
}
/*#nav .current { background-color: #fff/*#f9e0e0*!/; }*/
/*#nav .current a { color: rgba(44,164,209,0.8); }*/
#about-me {
	background-color: rgb(245,245,245);
}
#about-read-more {
	display: none;
}
.about-me-back {
	background-image: url('../img/photo.png');
	background-repeat: no-repeat;
	background-position: right bottom;
	background-size: 430px 336px ;
	padding-bottom: 60px;
}
.featurette {
	padding-top: 40px;
}
.first-featurette {
	padding-top: 90px;
}

.portfolio-thumb {
	margin-bottom: 51px;

}
.img-responsive-project {
	width: 303px;
	height: auto;
}
.img-responsive {
	width: 100%;
	height: auto;
}
.featurette-divider {
	margin-top: 50px;
	margin-bottom: 50px;
}
hr {
	margin-bottom: 0px; 
}
.project-hover {
	background-color: rgba(44,164,209,0.8);
	float: left;
	width: 100%;
	height: 100%;
	max-height: 303px;
	max-width: 303px;
	opacity: 0;
  	position: absolute;
  	-webkit-transition: opacity 0.5s ease 0s;
  	-moz-transition: opacity 0.5s ease 0s;
  	transition: opacity 0.5s ease 0s;
  	padding-left: 10px;
  	padding-right: 10px;
 }
.project-hover:hover {
	float: left;
	position: absolute;
	opacity: 1;
		background-color: rgb(44,164,209);
}

.project-name p {
	font-size: 100%;
	margin-top: 125px;
	text-align: center;
	color: rgb(245,245,245);
	font-weight: normal;
	margin-left: 11px;
	margin-right: 11px;
}
.go-back {
	margin-bottom: 20px;
}
a, a:hover {
	color: rgba(44,164,209,0.8);
	/*font-weight: 600;*/ /*jessi*/
}
.social-network {
	width: 45px;
	margin-right: 10px;
}
#contact a {
	font-size: 18px;
	font-weight: normal;
}
.nav-right {
	text-align: right;
}

h3 {
	margin-top: 40px;
}
h4 {
	margin-top: 17px;
}
.project-sidebar {
	margin-top: 70px;
}
.project-info {
	background-color: rgba(86,182,218,0.15);
	margin: 20px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 1px;
	padding-bottom: 20px;
	font-size: 95%;
}
.img-border {
	
	-moz-box-shadow: -1px 0px 5px #999;
	-webkit-box-shadow: -1px 0px 5px #999;
	box-shadow: -1px 0px 5px #999;
}
.work-img {
	margin-top: 10px;
	max-width: 100%;
}



 ul {         
          padding:0 0 0 0;
          margin:0 0 0 0;
      }
      ul li {     
          list-style:none;
          margin-bottom:25px;           
      }
      ul li img {
          cursor: pointer;
      }



.pagetop{
width: 100%;
background-color: #3995b7;	
margin:0px;
}


.section-title{       /*Jessi add CSS*/
	font-size: 30px;
	padding-bottom: 3%;
}


footer{

	margin: auto;
	background: rgba(44,164,209,1);
	padding: 40px 0px 0px 0px;
	font-size: 12px;
	color: #ffffff;
	text-align: center;
	height: 100%;
	box-shadow: 0px 500px 0px 500px rgba(44,164,209,1);
	}

@media (max-width: 768px) {
	#nav {
		background: rgba(44,164,209,0.8);
	}
}

/*slider test*/
/* --- Interface --- */
#interface {
}
#interfaceDemp {
    position: absolute;
    width: 546px;
    height: 429px;
    left: -142px;
    top: 25px;
    background-image: url("img/emag/ipad-frame.png");
    z-index: 2;
}
#paperInterfaceCarousel {
    /* this guy is the viewport; it wraps #paperInterfaceCarousel .content */
    position: absolute;
/*  margin: 53px 0 0 -81px;*/
    width: 426px;
    height: 498px;
    top: -10px;
    left: -81px;
    z-index: 10;
    overflow: hidden;
}
#paperInterfaceCarousel .content {
    /* this guy is the actual content -- one large canvas w/ sprite bg img */
    background: url("img/emag/carousel-ui@1.5x.jpg") no-repeat 0px;
    background-size: auto 320px;
    width: 1704px;
    height: 498px;
}
.no-backgroundsize #paperInterfaceCarousel .content {
    background: url("img/emag/carousel-ui@1.5x.jpg") no-repeat 0px;
}
.buttons {
    margin: 0;
    position: absolute;
    top: 476px;
    left: 86px;
    z-index: 21;
}
#interface .sectionLeft {
    margin-top: 10px;
}
#interface .sectionRight {
    float: right;   /* TODO why isn't this the default...? */
    margin-top: 60px;
}
#interface .sectionRight p {
    margin: 2em 0;
}
#interface .featureSection {
    /**
    UPDATE: the below was written when .sectionLeft contained the header.
    it no longer does, but the reasoning below still stands. FYI!

    this feature section follows two sections floated alongside each other, a
    .sectionLeft -- which contains the absolutely-positioned carousel above --
    and a .sectionRight -- which takes up more vertical space in the flow than
    the .sectionLeft since the image carousel has been removed from the flow.

    we want this feature section to clear both sections -- including the image
    carousel! -- but since the image carousel isn't part of the flow, we can
    only achieve this by hardcoding in the total vertical space to offset by.

    we use the .sectionLeft since it's taller than the .sectionRight when you
    include the image carousel, and we explicitly clear none since we *don't*
    know how much height the taller-in-the-flow .sectionRight of text takes.
    we also rely on the .sectionLeft's h1 being two lines. yuck!

    for the image carousel, the ipad is the #interfaceDemp element, but the
    actual carousel is taller to account for both the buttons below the ipad
    and the hand that shows up on the last image. it seems that these guys'
    heights are included in #paperInterfaceCarousel, so we use that.

    XXX we may also want to add some extra spacing here to match the natural
    margins (20px) between feature rows, but we don't do that here right now
    since it doesn't feel visually needed:

    (a) the first/left-most feature's image already has whitespace of its own;
        its content is vertically centered, with transparency above and below.

    (b) the spacing for the carousel already accounts for the hand that shows
        up on the last image, but this hand isn't there by default, so the
        spacing so far already feels ample by default.

    TODO if either of these factors change, we may want to add extra spacing.

    THUS, this hardcoded number is the sum of (all from .sectionLeft):

    - 80px top from #paperInterfaceCarousel
    - 498px height from #paperInterfaceCarousel

    phew! let's use regular CSS flow in the future! -aseemk

    UPDATE: we're also no longer showing the hand, and we've moved the header
    from the left to the right, so we want to subtract the amount for the hand
    while adding some for spacing. arbitrarily going from 578px to 538px.
    **/
    margin-top: 538px;
}
/*--- End interface ---*/
